<meta charset='UTF-8'>
<link rel='stylesheet' href='/css/bootstrap.min.css'>
<link rel='shortcut icon' href='/png/nodejs.png'/>
<script src="/js/jquery.min.js"></script>
<title><%= title %></title>
<style>
  body {
    padding:1rem 2rem;
  }
</style>
